/*
  Variables and mixins from the src/variables.scss file are available here
  without importing
*/

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Literata, serif;
  font-weight: 350;
  // I *really* want the base sizes to be be ems, but calc() doesn't cooperate.
  font-size: clamp(
    max(16px, 1em),
    calc((16px + (20 - 16) / (1000 - 320) * (100vw - 320px))),
    20px
  );
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em 0;
  font-weight: 600;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

a {
  color: oklch(50% 0.1 235);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 80%;
  font-weight: 550;
}

button,
input,
select,
option {
  font-family: inherit;
}
